body,
html {
    margin: 2%;
}

header,
main {
    text-align: center;
}

main {
    padding: 2%;
    background-color: rgba(219, 161, 231, 0.8);
}

img {
    max-width: 50%;
    border: 3px solid black;
    padding: 5px;
    margin: 2%;
}

div {
    margin: 0 auto;
}

.fc {
    display: flex;
    flex-flow: row wrap;
}

button {
    min-width: 32%;
    max-width: 80%;
    padding: 10px 0;
}

.middle {
    margin: 0 15px;
}